Reset margin and padding style
* {
    margin: 0;
    padding: 0;
}
#button-container{
    display: flex;
    justify-content: center;
}


.big-button{
    padding: 10px;
    margin-bottom: 20px;
}


.container {
    display: flex;
    margin: auto;
    border: solid 1px rgb(0, 0, 0);
    width: 450px;
    height: 450px;
    flex-flow: row wrap;
    /* box-sizing: border-box; */
}


.eachDiv {
    border: solid 1px rgb(0, 0, 0);
    flex-grow: 1;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

/* .colorChange {
    background-color: rgb(255, 0, 0);
} */

.break{
    height: 0;
    flex-basis: 100%;
}

